body{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(4, 3, 1,0.7);
}
.tarif{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: lemonchiffon;
}
.tittle{
    font-size: 50px;
    padding: 12px 0px 0px 5px;
}
.horizontaleb{
    padding: 5px 0px 5px 0px;
    margin: 5px 10px 2.5px 0px;
    border: 1.75px solid mediumseagreen;
    border-radius: 10px;
    box-sizing: border-box ;
    box-shadow:  2px 2px 4px #000000;
    background-color: rgb(4, 3, 1,0.7);
    background-image: url(image/bunga7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: cornsilk;
 
}
.div{
    padding: 5px 0px 5px 0px;
}
.menub{
    font-size: larger;
    list-style: none;
    padding: 4px 0px 4px 5px;
}
li{
    padding: 4px 0px 4px 0px;
    list-style: none;
}
.Menu{
    display: flex;
    flex-direction: column;
}
div ul{
    padding: 2px 0px 9px 15px
}
.service{
    height: auto;
    width: 100vw;
   
}
@media screen and (min-width:300px) {
    .tittle{
        font-size:40px;
    }
    .service{
        width: 100%;
        font-size: 0.6rem;
    }
    .Menu{
        margin: 1px 2px 5px 2px;
    }
    
}
@media screen and (min-width:800px) {
    .horizontaleb{
        padding: 5px 0px 5px 0px;
        margin: 5px 10px 2.5px 0px;
     
    }
    .div{
        padding: 5px 0px 5px 0px;
    }
    .menub{
        font-size: larger;
        list-style: none;
        padding: 4px 0px 4px 5px;
    }
    li{
        padding: 4px 0px 4px 0px;
        list-style: none;
    }
    .Menu{
        display: flex;
        flex-direction: column;
    }
    div ul{
        padding: 2px 0px 9px 15px
    }
    .service{
        height: 30vh;
        width: 100vw;
        font-size: 1em;
       
    
}}