form{
    border: 2px solid rgb(7, 136, 65);
    border-radius: 15px;
    background-color: black;
    opacity: 75%;
    padding: 15px 10px 15px 10px;
}
form div{
    color: aliceblue;
}
.perso{
    font-weight: bold;
    position: relative;
    display: block;
    border: 5px solid transparent;
    border-radius: 15px;
    float: left;
    color: aliceblue;
    background-color: rgb(4, 3, 1,0.5);
    background-size: 100% 100vh;
    opacity: 60%;
    margin: 2cm 0 0 0;
 
}