body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    background-color:rgb(251, 252, 251);

    
}
header{
    background-color: rgb(4, 3, 1,0.7);}
h2{
    font-size: 45px;
}
.legal{
    align-content: center;
}
.tittled{
    font-size: 1.265em;
    font-weight: 600;
    padding: 0.5em 0.4em 0.5em 0.4em;
    margin: 0.125em 0.1em 0.5em 0.4em;
    text-decoration: underline;
}
.title{
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.2em 0.35em 0.1em 0.4em ;
}
.tittle1{
    padding: 0;
    margin: auto;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.08em 0.2em 0.3em 0.1em;
    margin: 0.125em 0.1em 0.5em 0.4em;
}
div.avis{
    text-align: center;
    align-content: center;
}
input[type=text]{
    height: 6vh;
    width: 90%;
    padding: 1em 1em 1em 1em;
}
input[type=email]{
    height: 6vh;
    width: 90%;
    padding: 1em 1em 1em 1em;
}
button{
    height: 5vh;
    width: 20%;
    border-radius: 4px;
}
textarea{
    height: 15vh;
    width: 90%;
    border-radius: 1rem;
    font-size: 1rem;
}
div.Avis{
    border: 1px rgb(81, 54, 25) solid;
    border-radius: 2em;
    box-shadow: black 2px;
    box-shadow: 1px black;
    justify-content: center;
    text-align: justify;
    width: 33vw;
    vertical-align: middle;
    padding: 2px 3px 2px 5px;
    margin: 2px 11px 2px 20px;
    height: 100%;
    width: 100%;
}
div.Avis img{
    height: 100px;
    width: 100px;
    align-content: center;
}
@media screen and (min-width:600px) {
    input[type=text]{
        width: 30vw;
        margin: 2px 1px 2px 4px;
    }
    input[type=email]{
        width: 30vw;
    }
    button{
        width: 15vw;
        border-radius: 28px;
        font-size: 1.1em;
    }
    textarea{
        width: 30vw;
    }
    div.Avis{
        height: auto;
        width: 33vw;
    }

    
}
div.legal1{
    background-color: rgb(4, 3, 1,0.5);}

.finalinfo{
    margin: auto;

}
#tittleinfo{
    background-color: rgb(81, 54, 25) ;
    border-radius: 12px;
    box-shadow: 6px 6px 5px 5px;
}