body{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
header{
        background-color: rgb(4, 3, 1,0.7);
}

p.Tittlee{
    font-size: 2.05em;
    font-family: inherit;
}
div.voiture{
    display: flex;
    flex-direction: column;
    font-family: inherit;
}
ul.voiture{
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    background-color: rgb(81, 54, 25); ;
    margin: 10px 2px 10px 2px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    position: relative;
    font-family: inherit;
}
div.colum{
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin: 10px 2px 10px 2px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: nowrap;
    font-family: inherit;
}
div.line{
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: inherit;
    border-radius: 5px;
    margin: 1px 2px 1px 2px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
div.final{
    width: 50vh;
    height: 50vh;
    font-size: 20px;
    font-weight: lighter;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    flex-basis: 33.33vw;
}
div.columm{
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin: 10px 2px 10px 2px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: nowrap;
    font-family: inherit;
}
div.columm img{
    width: 30vw;
    height: 35vh;
    padding: 0px 4px 0px 4px;
    border-radius: 6px;
}
div.flexe img{
    width: 29.9vw;
    height: 35vh;
    padding: 0px 4px 0px 4px;
    border-radius: 6px;
}
p.subtittle{
    font-size: 50px;
    position: sticky;
}

li.flex{
   font-size: 50px;
    border: 2px solid dimgray;
    background-color: rgb(81, 54, 25);
    border-radius: 10px;
    margin: inherit;
    position: relative;
    display: flex;
    width: 94vw;
    flex-flow: row;
    font-family: inherit;
    color: cornsilk;
}
li.place {
    float: right;
    background-color: rgb(81, 54, 25);
    border-radius: 10px;
    margin: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: inherit;
    color: cornsilk;
}
li.final{
    display: flex;
    flex-direction: row;
    flex-basis: 33.33vw;
    border-radius: 20px ;
    
}

li.final img{
    width: 40vw;
    height: 40vh;
    padding: 10px 10px 10px 10px ;
    opacity: 100%;
    background-color: rgb(81, 54, 25);
    color: cornsilk;
    border-radius: 10px;

}
img.Voit{
    float:right;
    width: 30%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;  
    padding: 10px 10px 10px 10px;   
}

img.Plaisirs{
    float:right;
    width: 30%;
    height: 80%;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 10px;
    
}
img.Voiture{
    float:right;
    width: 30%;
    height: 35vh;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    padding: 2px 1.5px 2px 1.5px;

}
img.Voituree{
    float:right;
    width: 25%;
    height: 35vh;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;

}
img.Voitures{
    float:right;
    width: 25%;
    height: 35vh;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}
img.Voitured{
    height:40vh;
    width:50vw ;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
}
img.Voitured1{
    height:40vh;
    width:50vw ;
    border: 1px solid dimgrey;
    border-radius: 45px;
    padding: 10px 10px 10px 10px;
}
img.Voitured1{
    height:40vh;
    width:50vw ;
    border-radius: 70px;
    padding: 10px 10px 10px 10px;
}

ul.voituree{
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    margin: 5px 2px 5px 2px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(81, 54, 25);
    color: cornsilk;
    border: 1px solid dimgrey;
}