div{
    padding: 15px;  
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
.hb{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    text-align: center;
    font-weight: 900;
    background-color: gainsboro;
    opacity: 50%;
    
  }
.loc{
    border-radius: 25px;
    border: 2px solid rgb(38, 38, 112);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    text-align: center;
    font-weight: 900;
    background-color: gainsboro;
    opacity: 50%;
}
@media screen and (min-width: 300px) {
    .hb{
        width: 89vw;
        height: 89%;
    }
    .loc{
        width: 89vw;
        height: 89%;
    }
    
}
@media screen and (min-width: 500px) {
    .hb{
        width: 92vw;
        height: 89%;
    }
    .loc{
        width: 92vw;
        height: 89%;
    }
    
}
@media screen and (min-width: 800px) {
    .hb{
        width: 94vw;
        height: 89%;
    }
    .loc{
        width: 94vw;
        height: 89%;
    }
    
}
  .hb:hover{
      border: 4px solid #73AD22; ;
  }
  .loc:hover{
      border: 4px solid #73AD22;;
  }
  body{
    width: 100%;
    height: 100%;
    padding: 0 0 ;
    margin: 0;
    animation: opac infinite  20s ;
    animation: slide infinite 20s;
}
@keyframes slide {
    0%{
        background-image: url(image/tarifbackground.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    35%{
        background-image: url(image/apixel.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    50%{
        background-image: url(image/backgrd1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    65%{
        background-image: url(image/backgrd1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    80%{
        background-image: url(image/keyframe.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    100%{
        background-image: url(image/ta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
@keyframes opac {
    0%{
        opacity: 100%;
    }
    38%{
        opacity: 50%;
    }
    40%{
        opacity: 100%;
    }
    48%{
        opacity: 50%;
    }
    50%{
        opacity: 100%;
    }
    60%{
        opacity: 50%;
    }
    65%{
        opacity: 100%;
    }
    75%{
        opacity: 50%;
    }
    80%{
        opacity: 100%;
    }
    90%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}